.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.App-header {
  background-color: #222;
  height: 170px;
  padding: 20px;
  color: white;
}

.clickableStyle {
  cursor: pointer;
}

.App-title {
  font-size: 1.5em;
}

.App-account {
  color: magenta;
}

.App-intro {
  font-size: large;
}

.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand>img {
  padding: 7px 14px;
}

.myPanel {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.myForm {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 8em;
  text-align: center;
}

.progress {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
 }

.progress-bar {
 display: block;
 font-weight: 500;
 color: black;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
